/* Fullpage.js */

#fp-nav ul li .fp-tooltip.fp-right {
    color: black;
    font-family: 'Mononoki', arial;
}

#fullpage {
    margin: 0 360px;
}

@media (max-width: 1024px) {
    #fullpage {
        margin: 0 120px;
    }
}

@media (max-width: 768px) {
    #fullpage {
        margin: 0 72px;
    }
}

@media (max-width: 550px) {
    #fullpage {
        margin: 0 48px;
    }
}

/* Menu */

#menu {
    position: fixed;
    right: 32px;
    top: 24px;
    z-index: 100;
}

#menu li {
    display: inline-block;
    margin: 12px;
}

#menu a,
#burger-menu a {
    color: inherit;
    outline-color: inherit;
    text-decoration: none;
}

#menu a:hover,
#menu a:active {
    color: grey;
}

#burger-menu {
    display: none;
}

@media (max-width: 768px) {
    #menu {
        display: none;
    }

    #burger-menu {
        display: block;
    }
}

@media (max-width: 550px) {
    #menu {
        right: 16px;
        top: 8px;
    }

    #menu li {
        margin: 4px 8px;
    }

    #menu svg {
        height: 1.5em;
        width: 1.5em;
    }
}

/* Sections */

.section:not(.fp-section) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.section h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .25em;
}

.section h1 {
    font-size: 8em;
}

.section h2 {
    font-size: 3em;
}

.section h3 {
    font-size: 1.75em;
}


@media (max-width: 768px) {
    .section h1 {
        font-size: 4em;
    }
}

@media (max-width: 550px) {
    .section h1 {
        font-size: 3em;
    }
    
    .section h2 {
        font-size: 2em;
    }
}

/* Portfolio */

.portfolio {
    display: flex;
    margin-top: 36px;
}

.portfolio::before {
    background-color: black;
    content: '';
    margin-right: 48px;
    width: 3px;
}

.portfolio .portfolio-row {
    margin-bottom: 48px;
}

.portfolio .portfolio-row:first-of-type {
    margin-top: 32px;
}

.portfolio-row-header {
    font-size: 1.75em;
    margin-bottom: 12px;
}

.portfolio-row-header::before {
    background-color: white;
    border: 3px solid black;
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    left: -7px;
    width: 12px;
}

.portfolio-row-subheader {
    margin-bottom: 32px;
}

@media (max-width: 550px) {
    .portfolio {
        margin-top: 16px;
    }

    .portfolio-row-header {
        font-size: 1.25em;
    }
    
    .portfolio-row-subheader {
        margin-bottom: 16px;
    }

    .portfolio .portfolio-row {
        margin-bottom: 24px;
    }

    .portfolio .portfolio-row:first-of-type {
        margin-top: 16px;
    }

    .portfolio .portfolio-row:last-of-type,
    .portfolio .portfolio-row:last-of-type .portfolio-row-subheader {
        margin-bottom: 8px;
    }
}
